doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="#ff9800")
		meta(name="msapplication-navbutton-color" content="#ff9800")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-touch-fullscreen" content="yes")
		link(rel="icon" type="image/x-icon" sizes="16x16" href="#")
		link(rel="icon" type="image/x-icon" sizes="32x32" href="#")
		link(rel="icon" type="image/png" sizes="50x50" href="#")
		link(rel="icon" type="image/png" sizes="60x60" href="#")
		link(rel="icon" type="image/png" sizes="72x72" href="#")
		link(rel="icon" type="image/png" sizes="76x76" href="#")
		link(rel="icon" type="image/png" sizes="114x114" href="#")
		link(rel="icon" type="image/png" sizes="120x120" href="#")
		link(rel="icon" type="image/png" sizes="144x144" href="#")
		link(rel="icon" type="image/png" sizes="152x152" href="#")
		meta(name="format-detection" content="telephone=no")
		title All Watches
		link(rel="stylesheet" href="static/css/main.css")
	body
		svg(style="display:none")
			symbol(id="search" width="18" height="18")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M12.592 11.752l4.83 4.83-.81.87-4.83-4.83c-1.35 1.11-2.97 1.68-4.62 1.68-1.83 0-3.69-.72-5.07-2.1a7.152 7.152 0 0 1 0-10.11 7.152 7.152 0 0 1 10.11 0c2.64 2.64 2.76 6.84.39 9.66zm-9.66-8.79c-2.31 2.31-2.31 6.09 0 8.4 2.31 2.31 6.09 2.31 8.4 0 2.31-2.31 2.31-6.09 0-8.4-1.14-1.17-2.67-1.74-4.2-1.74-1.53 0-3.03.57-4.2 1.74z" fill="#fff")
			symbol(id="comments" width="15" height="12")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M1.332 12H8c3.676 0 6.667-2.691 6.667-6s-2.991-6-6.667-6C4.323 0 1.332 2.691 1.332 6c0 1.157.361 2.261 1.05 3.224L.844 10.88A.666.666 0 0 0 1.332 12zM8 10.667H2.861l.885-.954a.667.667 0 0 0 .014-.892C3.044 8 2.666 7.025 2.666 6c0-2.573 2.392-4.667 5.333-4.667 2.94 0 5.333 2.094 5.333 4.667S10.94 10.667 8 10.667z" fill="#757575")
			symbol(id="play" width="40" height="40")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M20 .488C30.776.488 39.512 9.224 39.512 20S30.776 39.512 20 39.512.488 30.776.488 20 9.224.488 20 .488z" fill="#fff")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M25.353 19.459l-7.277-4.697c-.215-.131-.482-.11-.684-.11-.807 0-.803.639-.803.8v9.6c0 .137-.004.8.803.8.202 0 .469.022.684-.11l7.277-4.696c.597-.364.494-.794.494-.794s.103-.43-.494-.793z" fill="#A37452")
			symbol(id="vk" width="16" height="10")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M8.544 9.995c.532 0 .532-.8.532-1.11 0-.556.533-1.111 1.065-1.111.533 0 1.446.952 2.13 1.666.533.555.533.555 1.066.555h1.598S16 9.953 16 8.885c0-.348-.365-.936-1.598-2.222-1.065-1.11-1.611-.537 0-2.776.982-1.364 1.696-2.6 1.574-2.956-.118-.34-2.848-.882-3.172-.376-1.065 1.666-1.26 2.074-1.597 2.777-.533 1.11-.586 1.665-1.066 1.665-.484 0-.532-1.077-.532-1.665 0-1.836.255-3.134-.533-3.332H7.478c-.857 0-1.597.555-1.597.555s-.661.538-.533.556c.159.022 1.065-.23 1.065.555v1.11s.005 2.221-.532 2.221c-.533 0-1.598-2.22-2.663-3.886C2.799.457 2.685.555 2.152.555 1.582.555 1.088.58.555.58c-.533 0-.601.353-.533.532 1.065 2.776 1.83 4.52 3.854 6.716C5.732 9.842 6.972 9.95 8.011 9.995c.266.012 0 0 .533 0z")
			symbol(id="facebook" width="8" height="15")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M5.193 15V8.158H7.55l.354-2.667H5.193V3.79c0-.772.22-1.298 1.357-1.298H8V.104A19.904 19.904 0 0 0 5.887 0c-2.09 0-3.522 1.243-3.522 3.525V5.49H0v2.667h2.365V15h2.828z")
			symbol(id="instagram" width="16" height="16")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M16 11.308c0 1.384-.483 2.587-1.328 3.429-.846.842-2.053 1.263-3.381 1.263H4.709c-1.328 0-2.535-.421-3.38-1.263C.422 13.895 0 12.692 0 11.308V4.692C0 1.925 1.872 0 4.71 0h6.64c1.39 0 2.537.481 3.382 1.323C15.577 2.165 16 3.308 16 4.692v6.616zM11.014 2H4.93c-.885 0-1.66.276-2.157.774C2.276 3.272 2 4.046 2 4.931v6.083c0 .885.276 1.659.83 2.212.552.497 1.271.774 2.156.774h6.028c.885 0 1.659-.277 2.157-.774.553-.498.829-1.272.829-2.157V4.986c0-.885-.277-1.604-.774-2.157C12.673 2.276 11.954 2 11.014 2z")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M11 4c0 .563.438 1 1 1 .563 0 1-.438 1-1 0-.563-.438-1-1-1-.563 0-1 .438-1 1zm-1 4a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm-2.03 4C5.753 12 4 10.177 4 8c0-2.235 1.81-4 3.97-4C10.132 4 12 5.765 12 8c0 2.235-1.81 4-4.03 4z")
			symbol(id="youtube" width="26" height="19" fill="none" xmlns="http://www.w3.org/2000/svg")
				rect(x="1.174" y="1.174" width="23.111" height="16" rx="1" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M15.608 8.381a.696.696 0 0 1 0 1.238l-2.174 1.12-2.379 1.221a.696.696 0 0 1-1.012-.616V6.657a.696.696 0 0 1 1.012-.62l2.38 1.225 2.173 1.12z" fill="#000")
			symbol(id="promo-arrow" width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M0.979908 10.9059L5.81597 5.95456C6.06134 5.7035 6.06134 5.2965 5.81597 5.04544L0.979908 0.0941471C0.857379 -0.0313824 0.65843 -0.0313824 0.535902 0.0941471L0.0918961 0.548706C-0.030632 0.674235 -0.030632 0.877735 0.0918961 1.00326L4.26227 5.27256C4.38479 5.39809 4.38479 5.60191 4.26227 5.72712L0.0918961 9.99674C-0.030632 10.1223 -0.030632 10.3258 0.0918961 10.4513L0.535902 10.9059C0.65843 11.0314 0.857379 11.0314 0.979908 10.9059Z" fill="white")
		header#header.page-header
			.page-header__top-part
				.wrapper
					.page-header__top-row
						a.page-header__toggle(href="#" data-toggle="modal" data-target="#header-menu")
							span
						nav.page-header__nav
							ul.page-list
								li
									a(href="#") Журнал
								li
									a(href="#") Объявления
								li 
									a(href="#") Сообщество
								li 
									a(href="#") Справочник
						.page-header__logo
							a(href="index.html")
								img(src="static/img/logo.svg", alt="")
						.page-header__city
							a(href="#") Москва
						.page-header__search
							input.text-input(type="text")
							button.btn.btn--search(type="button")
								svg(width="18" height="18")
									use(xlink:href="#search")
			.page-header__bottom-part
				.wrapper
					.page-header__bottom-row
						.bottom-row__nav-block
							ul.page-list
								li
									a(href="#") Новости
								li
									a(href="#") Тренды
								li
									a(href="#") Обзоры
								li
									a(href="#") События
						.bottom-row__entrance-block
							a.favorites-link(href="#") Избранное
								img.icon--star(src="static/img/star.svg", alt="")
							a.entrance-link(href="#") Войти
							a.reg-link(href="#") Регистрация
			.page-header__menu.popup-block#header-menu
				.inner__menu
					a.page-header__toggle.close-button(href="#" data-toggle="dismiss")
						span
					nav.page-header__nav
						ul.page-list
							li
								a(href="#") Журнал
							li
								a(href="#") Объявления
							li 
								a(href="#") Сообщество
							li 
								a(href="#") Справочник
		.main-page-wrap
			.main-page-blocks
				section.news-block
					.wrapper
						.news-block__container
							.news-block__articles
								.news-block__heading-block
									.heading-block__photo-block
										a(href="#")
											img(src="static/img/photo-audemars-piguet.jpg", alt="")
									.heading-block__content
										b Тема дня
										.heading-block__breadcrumbs-block
											.breadcrumbs-block__links
												a(href="#") #Тренды
													| , 
												a(href="") #События
											.breadcrumbs-block__date
												span 30 декабря 2018
										a.heading-block__title(href="#") Audemars Piguet готовит сюрприз своим любителям
										a.btn.btn--light(href="#") Читать
								.news-block__article-row
									.news-block__article-card
										.article-card__photo-block
											a(href="#")
												img(src="static/img/photo-swarovski.jpg", alt="")
										.article-card__breadcrumbs-block
											.breadcrumbs-block__links
												a(href="#") #Тренды
													| , 
												a(href="") #События
											.breadcrumbs-block__date
												span 30 декабря 2018
										a.news-block__title(href="#") Swarovski привносит элемент неповторимой индивидуальности
									.news-block__article-card
										.article-card__photo-block
											a(href="#")
												img(src="static/img/photo-decorations.jpg", alt="")
										.article-card__breadcrumbs-block
											.breadcrumbs-block__links
												a(href="#") #Тренды
													| , 
												a(href="") #События
											.breadcrumbs-block__date
												span 30 декабря 2018
										a.news-block__title(href="#") 10 российских брендов украшений
								.news-block__content-articles
									.content-articles__card
										.content-articles__card-photo
											a(href="#")
												img(src="static/img/photo-secrets.jpg", alt="")
										.content-articles__card-inner
											.content-articles__breadcrumbs-block
												.breadcrumbs-block__links
													a(href="#") #Тренды
														| , 
													a(href="") #События
												.breadcrumbs-block__date
													span 30 декабря 2018
											a.content-articles__title(href="#") Секреты производства: уникальные приемы в ювелирном искусстве
											a.content-articles__link(href="#") 5 комментариев
												svg.icon--comments(width="15" height="12")
													use(xlink:href="#comments")
											p Человека, вовсе не знакомого с технической стороной высокого ювелирного искусства, может потрясти изобилие приемов, используемых…
									.content-articles__card
										.content-articles__card-photo
											a(href="#")
												img(src="static/img/photo-brilliant.jpg", alt="")
										.content-articles__card-inner
											.content-articles__breadcrumbs-block
												.breadcrumbs-block__links
													a(href="#") #Тренды
												.breadcrumbs-block__date
													span 30 декабря 2018
											a.content-articles__title(href="#") Бриллиантовое кольцо в подарок на Рождество Илону Маску
											p Бен Боллер (Ben Baller), знаменитый американский ювелир, создал кольцо «Тесла» с бриллиантами и рубинами и подарил его на Рождество Илону…
									.content-articles__card
										.content-articles__card-photo
											a(href="#")
												img(src="static/img/photo-anastazio.jpg", alt="")
										.content-articles__card-inner
											.content-articles__breadcrumbs-block
												.breadcrumbs-block__links
													a(href="#") #Тренды
												.breadcrumbs-block__date
													span 30 декабря 2018
											a.content-articles__title(href="#") Коллекция Ultra Chic от Anastazio
											a.content-articles__link(href="#") Обсудить
												svg.icon--comments(width="15" height="12")
													use(xlink:href="#comments")
											p Греческий ювелирный дизайнер Anastazio Kostopoulos выпустил новую коллекцию украшений из серебра и золота, основным лейтмотивом которой является…
									a.btn.btn--light(href="#" data-toggle="news" data-target="#news-tab-1") Показать все новости
							.news-block__sidebar
								.news-block__sidebar-topics
									h3 Обсуждаемые темы
									.sidebar-topics__row
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-1.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Какие серьги будут популярны в 2019 году
												a.sidebar-topics__comments(href="#") 15 комментариев
													span.sidebar-topics__more +3
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-2.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Мануфактура TAG Heuer
												a.sidebar-topics__comments(href="#") 8 комментариев
													span.sidebar-topics__more +6
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-3.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Panerai Radiomir 1940 Art Deco Dial
												a.sidebar-topics__comments(href="#") 15 комментариев
													span.sidebar-topics__more +2
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-4.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Молодые таланты для Vacheron Constantin
												a.sidebar-topics__comments(href="#") 55 комментариев
													span.sidebar-topics__more +31
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-5.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") BaselWorld 2018
												a.sidebar-topics__comments(href="#") 13 комментариев
													span.sidebar-topics__more +15
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-6.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Carl F. Bucherer на Байкале
												a.sidebar-topics__comments(href="#") 458 комментариев
													span.sidebar-topics__more +45
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-7.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Grand Prix d’Horlogerie de Genève 2018
												a.sidebar-topics__comments(href="#") 5 комментариев
													span.sidebar-topics__more +5
										.sidebar-topics__card
											.sidebar-topics__card-photo
												img(src="static/img/photo-topics-8.png", alt="")
											.sidebar-topics__card-inner
												a.sidebar-topics__title(href="#") Вальтер фон Кенэл, Longines
												a.sidebar-topics__comments(href="#") 12 комментариев
													span.sidebar-topics__more +5
									a.btn.btn--light(href="#") Все обсуждаемые темы
								.news-block__sidebar-advertising
									span Реклама на All Watches
									.sidebar-advertising__wrapper
										.sidebar-avertissing__photo-block
											img(src="static/img/banner_advertising.jpg", alt="")
				section.overview
					.wrapper
						h3 Обзоры часов
						.swiper-container
							.overview__slider
								.swiper-wrapper
									.swiper-slide
										.overview__card
											.overview__photo-block
												img(src="static/img/photo-bovet.jpg", alt="")
											.overview__inner
												.overview__breadcrumbs
													a(href="#") #Обзор
													span 30 декабря 2018
												.overview__title
													a(href="#") Обзор часов Ulysse Nardin Freak Phantom
												.overview__text
													p В следующих сезонах дизайнеры предлагают нам сосредоточиться на украшениях. Ведь порой именно аксессуары являются самой важной частью имиджа.
												.overview__btn
													a.btn.btn--cta(href="#") Читать
									.swiper-slide
										.overview__card
											.overview__photo-block
												img(src="static/img/photo-rolex-oyster.jpg", alt="")
											.overview__inner
												.overview__breadcrumbs
													a(href="#") #Обзор
													span 30 декабря 2018
												.overview__title
													a(href="#") Обзор часов Rolex Oyster Perpetual Daytona Cosmograph
												.overview__text
													p В следующих сезонах дизайнеры предлагают нам сосредоточиться на украшениях. Ведь порой именно аксессуары являются самой важной частью имиджа.
												.overview__btn
													a.btn.btn--cta(href="#") Читать
									.swiper-slide
										.overview__card
											.overview__photo-block
												img(src="static/img/photo-bovet.jpg", alt="")
											.overview__inner
												.overview__breadcrumbs
													a(href="#") #Обзор
													span 30 декабря 2018
												.overview__title
													a(href="#") Обзор часов Ulysse Nardin Freak Phantom
												.overview__text
													p В следующих сезонах дизайнеры предлагают нам сосредоточиться на украшениях. Ведь порой именно аксессуары являются самой важной частью имиджа.
												.overview__btn
													a.btn.btn--cta(href="#") Читать
									.swiper-slide
										.overview__card
											.overview__photo-block
												img(src="static/img/photo-rolex-oyster.jpg", alt="")
											.overview__inner
												.overview__breadcrumbs
													a(href="#") #Обзор
													span 30 декабря 2018
												.overview__title
													a(href="#") Обзор часов Rolex Oyster Perpetual Daytona Cosmograph
												.overview__text
													p В следующих сезонах дизайнеры предлагают нам сосредоточиться на украшениях. Ведь порой именно аксессуары являются самой важной частью имиджа.
												.overview__btn
													a.btn.btn--cta(href="#") Читать													
								.swiper-scrollbar
				section.events-block
					.wrapper
						.events-block__heading
							h3 Ближайшие мероприятия
							a.btn.btn--light.btn--desktop(href="#") Календарь мероприятий
						.events-block__list
							.events-block__card
								.events-block__photo-block
									a(href="#")
										img(src="static/img/photo-exhibition.jpg", alt="")
								.events-block__card-inner
									span 30 декабря 2018
									a(href="#") Ювелирная выставка-продажа «Сокровища Петербурга»
							.events-block__card
								.events-block__photo-block
									a(href="#")
										img(src="static/img/photo-dictatorship.jpg", alt="")
								.events-block__card-inner
									span 30 декабря 2018
									a(href="#") «Диктатура сердца» придет на Baselworld
						a.btn.btn--light.btn--mob(href="#") Календарь мероприятий
				section.video-block
					.wrapper
						.video-block__heading
							h3 Видео
							.video-block__heading-btn
								a.btn.btn--light(href="#") Смотреть все обзоры
						.swiper-container
							.video-block__slider
								.swiper-wrapper
									.swiper-slide
										.video-block__card
											.video-block__overlay
												.video-block__overlay-photo
													img(src="static/img/video-bovet-bg.jpg", alt="")
												.video-block__overlay-inner
													span Bovet 1822:
														br
														| Обзор на 10-Day Tourbillon
													.video-block__overlay-play
														svg.icon--play(width="40" height="40")
															use(xlink:href="#play")
											.video-block__mob-title
												span Bovet 1822:
													br
													| Обзор на 10-Day Tourbillon
									.swiper-slide
										.video-block__card
											.video-block__overlay
												.video-block__overlay-photo
													img(src="static/img/video-bovet-bg.jpg", alt="")
												.video-block__overlay-inner
													span Rolex Datejust:
														br
														| Вся суть в деталях
													.video-block__overlay-play
														svg.icon--play(width="40" height="40")
															use(xlink:href="#play")
												.video-block__mob-title
													span Rolex Datejust:
														br
														| Вся суть в деталях
									.swiper-slide
										.video-block__card
											.video-block__overlay
												.video-block__overlay-photo
													img(src="static/img/video-bovet-bg.jpg", alt="")
												.video-block__overlay-inner
													span Bovet 1822:
														br
														| Обзор на 10-Day Tourbillon
													.video-block__overlay-play
														svg.icon--play(width="40" height="40")
															use(xlink:href="#play")
											.video-block__mob-title
												span Bovet 1822:
													br
													| Обзор на 10-Day Tourbillon
									.swiper-slide
										.video-block__card
											.video-block__overlay
												.video-block__overlay-photo
													img(src="static/img/video-bovet-bg.jpg", alt="")
												.video-block__overlay-inner
													span Rolex Datejust:
														br
														| Вся суть в деталях
													.video-block__overlay-play
														svg.icon--play(width="40" height="40")
															use(xlink:href="#play")
											.video-block__mob-title
												span Rolex Datejust:
														br
														| Вся суть в деталях
								.swiper-scrollbar
				section.updates-block
					.wrapper
						.updates-block__heading
							h3 Новые объявления
						.swiper-container
							.updates-block__swiper-slider
								.swiper-button-prev
								.swiper-wrapper
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-1(src="static/img/product-photo-1.png", alt="")
												.updates-block__photo-block
													img.product-1(src="static/img/product-photo-1.png", alt="")
												.updates-block__photo-block
													img.product-1(src="static/img/product-photo-1.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm Audemars Piguet
												a(href="#").updates-block__name Royal Oak Offshore Collection
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 5 450 850 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-2(src="static/img/product-photo-2.jpg", alt="")
												.updates-block__photo-block
													img.product-2(src="static/img/product-photo-2.jpg", alt="")
												.updates-block__photo-block
													img.product-2(src="static/img/product-photo-2.jpg", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm A.Lange Söhne
												a(href="#").updates-block__name Lange 1
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 1 750 550 руб.
													.updates-block__manufacturer
														span Частное лицо
														img.icon--ukraine(src="static/img/ukraine.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-3(src="static/img/product-photo-3.png", alt="")
												.updates-block__photo-block
													img.product-3(src="static/img/product-photo-3.png", alt="")
												.updates-block__photo-block
													img.product-3(src="static/img/product-photo-3.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm BREGUET
												a(href="#").updates-block__name Classique Moonphase Power Reserve 7787BR/129/V6
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 1 450 850 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img(src="static/img/product-photo-4.jpg", alt="")
												.updates-block__photo-block
													img(src="static/img/product-photo-4.jpg", alt="")
												.updates-block__photo-block
													img(src="static/img/product-photo-4.jpg", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm Rolex
												a(href="#").updates-block__name Daytona Roestvrij Staal 18K Geel Goud 16523 - W5327
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 1 750 550 руб.
													.updates-block__manufacturer
														span Частное лицо
														img.icon--ukraine(src="static/img/ukraine.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-5(src="static/img/product-photo-5.png", alt="")
												.updates-block__photo-block
													img.product-5(src="static/img/product-photo-5.png", alt="")
												.updates-block__photo-block
													img.product-5(src="static/img/product-photo-5.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm IWC
												a(href="#").updates-block__name Aquatimer Chronograph IW376702
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 830 850 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-6(src="static/img/product-photo-6.png", alt="")
												.updates-block__photo-block
													img.product-6(src="static/img/product-photo-6.png", alt="")
												.updates-block__photo-block
													img.product-6(src="static/img/product-photo-6.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm Audemars Piguet
												a(href="#").updates-block__name Royal Oak Offshore Limited Edition 26378IO.OO.A001KE.01
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 2 330 900 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-1(src="static/img/product-photo-1.png", alt="")
												.updates-block__photo-block
													img.product-1(src="static/img/product-photo-1.png", alt="")
												.updates-block__photo-block
													img.product-1(src="static/img/product-photo-1.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm Audemars Piguet
												a(href="#").updates-block__name Royal Oak Offshore Collection
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 5 450 850 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-2(src="static/img/product-photo-2.jpg", alt="")
												.updates-block__photo-block
													img.product-2(src="static/img/product-photo-2.jpg", alt="")
												.updates-block__photo-block
													img.product-2(src="static/img/product-photo-2.jpg", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm A.Lange Söhne
												a(href="#").updates-block__name Lange 1
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 1 750 550 руб.
													.updates-block__manufacturer
														span Частное лицо
														img.icon--ukraine(src="static/img/ukraine.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-3(src="static/img/product-photo-3.png", alt="")
												.updates-block__photo-block
													img.product-3(src="static/img/product-photo-3.png", alt="")
												.updates-block__photo-block
													img.product-3(src="static/img/product-photo-3.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm BREGUET
												a(href="#").updates-block__name Classique Moonphase Power Reserve 7787BR/129/V6
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 1 450 850 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img(src="static/img/product-photo-4.jpg", alt="")
												.updates-block__photo-block
													img(src="static/img/product-photo-4.jpg", alt="")
												.updates-block__photo-block
													img(src="static/img/product-photo-4.jpg", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm Rolex
												a(href="#").updates-block__name Daytona Roestvrij Staal 18K Geel Goud 16523 - W5327
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 1 750 550 руб.
													.updates-block__manufacturer
														span Частное лицо
														img.icon--ukraine(src="static/img/ukraine.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-5(src="static/img/product-photo-5.png", alt="")
												.updates-block__photo-block
													img.product-5(src="static/img/product-photo-5.png", alt="")
												.updates-block__photo-block
													img.product-5(src="static/img/product-photo-5.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm IWC
												a(href="#").updates-block__name Aquatimer Chronograph IW376702
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 830 850 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
									.swiper-slide
										.updates-block__card
											.updates-block__slick-slider
												.updates-block__photo-block
													img.product-6(src="static/img/product-photo-6.png", alt="")
												.updates-block__photo-block
													img.product-6(src="static/img/product-photo-6.png", alt="")
												.updates-block__photo-block
													img.product-6(src="static/img/product-photo-6.png", alt="")
											.updates-block__card-star
												img(src="static/img/star.svg", alt="")
											.updates-block__card-body
												a(href="#").updates-block__firm Audemars Piguet
												a(href="#").updates-block__name Royal Oak Offshore Limited Edition 26378IO.OO.A001KE.01
												.updates-block__card-inner
													span.updates-block__product-code Ref.: 26170TI.OO.1000TI.01
													b.updates-block__price 2 330 900 руб.
													.updates-block__manufacturer
														span Ломбард “Перспектива”
														img.icon--ukraine(src="static/img/russia.svg", alt="")
								.swiper-button-next
				section.collection-block
					.wrapper
						.collection-block__heading
							span Справочник
							h3 Популярные коллекции
						.collection-block__list
							.collection-block__card
								.collection-block__photo-block
									a(href="#")
										img.collection-1(src="static/img/product-collection-1.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Rolex
									a(href="#").collection-block__name Datejust
							.collection-block__card
								.collection-block__photo-block
									a(href="#")
										img.collection-2(src="static/img/product-collection-2.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Audemars Piguet
									a(href="#").collection-block__name Royal Oak Offshore
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-3(src="static/img/product-collection-3.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Blancpain
									a(href="#").collection-block__name Villeret
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-4(src="static/img/product-collection-4.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Breguet
									a(href="#").collection-block__name Classique
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-5(src="static/img/product-collection-5.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Hublot
									a(href="#").collection-block__name Big Bang
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-6(src="static/img/product-collection-6.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Patek Philippe
									a(href="#").collection-block__name Calatrava
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-7(src="static/img/product-collection-7.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Rolex
									a(href="#").collection-block__name Daytona
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-8(src="static/img/product-collection-8.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Rolex
									a(href="#").collection-block__name Sea-Dweller
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-9(src="static/img/product-collection-9.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Rolex
									a(href="#").collection-block__name Oyster Perpetual
							.collection-block__card.not-active
								.collection-block__photo-block
									a(href="#")
										img.collection-10(src="static/img/product-collection-10.png", alt="")
								.collection-block__card-body
									a(href="#").collection-block__brand Omega
									a(href="#").collection-block__name Speedmaster
						.collection-block__btn
							a.btn.btn--light(href="#") Показать ещё
				section.instagram-block
					.instagram-block__wrapper
						.instagram-block__photo-list
							.instagram-block__photo-card
								img(src="static/img/insta-photo-1.jpg", alt="")
							.instagram-block__photo-card
								img(src="static/img/insta-photo-2.jpg", alt="")
							.instagram-block__photo-card.not-active
								img(src="static/img/insta-photo-3.jpg", alt="")
							.instagram-block__photo-card.not-active
								img(src="static/img/insta-photo-4.jpg", alt="")
							.instagram-block__photo-card.not-active
								img(src="static/img/insta-photo-5.jpg", alt="")
							.instagram-block__photo-card.not-active
								img(src="static/img/insta-photo-6.jpg", alt="")
						.instagram-block__btn
							a.btn.btn--insta(href="#") Наш Instagram
			footer.main-footer
				.wrapper
					.main-footer__container
						.main-footer__contacts
							form.main-footer__subscription
								input.text-input(type="text" placeholder="Ваш e-mail")
								a.btn.btn--sub(href="#") Подписаться
							.main-footer__social-block
								ul.page-list
									li
										a(href="#")
											svg(width="16" height="10")
												use(xlink:href="#vk")
									li
										a(href="#")
											svg(width="8" height="15")
												use(xlink:href="#facebook")
									li
										a(href="#")
											svg(width="16" height="16")
												use(xlink:href="#instagram")
									li
										a(href="#")
											svg(width="26" height="19")
												use(xlink:href="#youtube")
						.main-footer__content
							.main-footer__box
								a.main-footer__main-link(href="#") All Watches
								a.main-footer__link(href="entrance.html") О сервисе
								a.main-footer__link(href="#") Новости
								a.main-footer__link(href="#") Вакансии
								a.main-footer__link(href="casting.html") Карта сайта
							.main-footer__box
								a.main-footer__main-link(href="#") Каталог
								a.main-footer__link(href="#") Мужские часы
								a.main-footer__link(href="actors_list.html") Женские часы
								a.main-footer__link(href="create_casting.html") Новинки
								a.main-footer__link(href="cinema.html") Спецпредложения
							.main-footer__box
								a.main-footer__main-link(href="#") Продавцам
								a.main-footer__link(href="#") С чего начать
								a.main-footer__link(href="#") Гарантии и условия
								a.main-footer__link(href="#") Платные услуги
							.main-footer__box
								a.main-footer__main-link(href="#") Партнерам
								a.main-footer__link(href="#") Реклама
								a.main-footer__link(href="#") Пресс-кит
							.main-footer__box
								a.main-footer__main-link(href="#") Помощь
								a.main-footer__link(href="#") Информация
								a.main-footer__link(href="#") FAQ
						.main-footer__copyright
							span © 2018. All Watches
							a.contacts-mob(href="#") Контакты
							a(href="#") Политика конфиденциальности
							a(href="#") Соглашение о неразглашении данных
	script(src="static/js/jquery-3.3.1.min.js")
	script(src="static/js/swiper.min.js")
	script(src="static/js/slick.min.js")
	script(src="static/js/main.js")