.main-footer {
	background: #F1F1F1;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	&__container {
		padding-top: 30px;
	}
	&__contacts {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 76px;
		padding-bottom: 30px;
		border-bottom: 2px solid #fff;
	}
	&__subscription {
		display: flex;
		flex-direction: row;
		width: 423px;
		margin-left: auto;
		margin-right: 93px;
	}
	&__subscription .text-input {
		background-color: #fff;
		padding: 14px 20px;
		border: 1px solid #F5F5F5;
		color: #000;
		margin-right: 10px;
	}
	&__subscription .btn--sub {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 124px;
		height: 50px;
		font-size: 14px;
		font-weight: 300;
		line-height: 40px;
		color: #fff;
		background-color: #006039;
		border-radius: 4px;
		&:hover, &:active {
			color: #7F593C;
		}
	}
	&__social-block ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	&__social-block ul li:not(:last-child) {
		margin-right: 44px;
	}
	&__social-block ul a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: 1px solid #EBEBEB;
		border-radius: 50%;
		width: 56px;
		height: 56px;
		&:hover, &:active {
			fill: #7F593C;
		}
	}
	&__social-block ul svg {
		fill: #000;
		&:hover, &:active {
			fill: #7F593C;
		}		
	}
	&__content {
		display: flex;
		flex-direction: row;
		padding-bottom: 45px;
		border-bottom: 2px solid #fff;
		margin-bottom: 35px;
	}
	&__box {
		display: flex;
		flex-direction: column;
	}
	&__box:not(:last-child) {
		margin-right: 120px;
	}
	&__main-link {
		display: block;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 1px;
		font-weight: 500;
		color: #000;
		margin-bottom: 20px;
	}
	&__link {
		display: block;
		font-size: 14px;
		line-height: 40px;
		font-weight: 300;
		color: #000;
		margin-bottom: 20px;
	}
	&__copyright {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 36px;
	}
	&__copyright span {
		display: block;
		font-size: 14px;
		line-height: 19px;
		font-weight: 400;
		color: #000;
		margin-right: 60px;
	}
	&__copyright a {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 40px;
		color: #000;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}

@media screen and (max-width: 767px) {
	.main-footer {
		&__container {
			padding-top: 20px;
		}
		&__contacts, &__content {
			display: none;
		}
		&__box:not(:last-child) {
			margin-right: 0;
		}
		&__copyright {
			display: block;
		}
		&__copyright span {
			margin-right: 0;
			margin-bottom: 22px;
		}
		&__copyright a {
			line-height: 22px;
		}
		&__copyright a:not(:last-child) {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.contacts-mob {
		display: none;
	}
}