.text-input {
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	background: none;
	overflow: hidden;
	line-height: normal;
	font-weight: 400;
	font-size: 16px;
	font-family: 'ApercuPro', sans-serif;
	border-radius: 3px;
	border: 1px solid transparent;
	width: 100%;
}