.swiper-container {
	width: 100vw;
}

.swiper-container-horizontal>.swiper-scrollbar {
	width: 100%;
	left: 0;
	bottom: -30px;
	background-color: #f5f5f5;
}

.swiper-container-android .swiper-slide {
	width: 700px !important;
	margin-right: 20px;
}